-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: running_shoe_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `running_shoe_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `running_shoe_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `running_shoe_db`;

--
-- Table structure for table `category_data`
--

DROP TABLE IF EXISTS `category_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category_data` (
  `id` int NOT NULL,
  `created` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `experienceType` varchar(255) DEFAULT NULL,
  `isActive` bit(1) NOT NULL,
  `lastUpdated` datetime(6) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category_data`
--

LOCK TABLES `category_data` WRITE;
/*!40000 ALTER TABLE `category_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `category_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hibernate_sequence`
--

DROP TABLE IF EXISTS `hibernate_sequence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hibernate_sequence` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hibernate_sequence`
--

LOCK TABLES `hibernate_sequence` WRITE;
/*!40000 ALTER TABLE `hibernate_sequence` DISABLE KEYS */;
INSERT INTO `hibernate_sequence` (`next_val`) VALUES (710);
/*!40000 ALTER TABLE `hibernate_sequence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_items` (
  `id` int NOT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `imageUrl` varchar(500) DEFAULT NULL,
  `price` decimal(19,2) DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `shoeBrand` varchar(255) DEFAULT NULL,
  `shoeId` int DEFAULT NULL,
  `shoeName` varchar(255) DEFAULT NULL,
  `size` varchar(255) DEFAULT NULL,
  `order_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbioxgbv59vetrxe0ejfubep1w` (`order_id`),
  CONSTRAINT `FKbioxgbv59vetrxe0ejfubep1w` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` (`id`, `gender`, `imageUrl`, `price`, `quantity`, `shoeBrand`, `shoeId`, `shoeName`, `size`, `order_id`) VALUES (702,'MEN','/shoe_images/adidas-adios-pro-4.png',14500.00,1,'Adidas',672,'Adidas Adios Pro 4','8.5',701);
INSERT INTO `order_items` (`id`, `gender`, `imageUrl`, `price`, `quantity`, `shoeBrand`, `shoeId`, `shoeName`, `size`, `order_id`) VALUES (704,'MEN','/shoe_images/adidas-adios-pro-4.png',14500.00,1,'Adidas',672,'Adidas Adios Pro 4','13',703);
INSERT INTO `order_items` (`id`, `gender`, `imageUrl`, `price`, `quantity`, `shoeBrand`, `shoeId`, `shoeName`, `size`, `order_id`) VALUES (705,'WOMEN','/shoe_images/adidas-adios-pro-4.png',14500.00,1,'Adidas',672,'Adidas Adios Pro 4','11',703);
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` int NOT NULL,
  `contactNumber` varchar(255) DEFAULT NULL,
  `customerName` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `orderDate` datetime(6) DEFAULT NULL,
  `shippingAddress` varchar(1000) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `totalAmount` decimal(19,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` (`id`, `contactNumber`, `customerName`, `email`, `orderDate`, `shippingAddress`, `status`, `totalAmount`) VALUES (701,'12w213','sada','dasda','2025-10-03 16:28:31.611000','das','DELIVERED',14500.00);
INSERT INTO `orders` (`id`, `contactNumber`, `customerName`, `email`, `orderDate`, `shippingAddress`, `status`, `totalAmount`) VALUES (703,'3213123213','test test','hellooooooooooooooooooo','2025-10-03 16:30:19.193000','c','PENDING',29000.00);
INSERT INTO `orders` (`id`, `contactNumber`, `customerName`, `email`, `orderDate`, `shippingAddress`, `status`, `totalAmount`) VALUES (706,'fdsfsd','jlkjsdlkdjfklsdjfs','fsd','2025-10-14 13:20:31.157000','fsd','PENDING',14500.00);
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `running_shoe_data`
--

DROP TABLE IF EXISTS `running_shoe_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `running_shoe_data` (
  `id` int NOT NULL,
  `archSupport` varchar(255) DEFAULT NULL,
  `brand` varchar(255) DEFAULT NULL,
  `created` datetime(6) DEFAULT NULL,
  `cushioningLevel` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `dropHeight` varchar(255) DEFAULT NULL,
  `experienceType` varchar(255) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `idealFor` varchar(255) DEFAULT NULL,
  `imageUrl` varchar(255) DEFAULT NULL,
  `inStock` bit(1) NOT NULL,
  `isActive` bit(1) NOT NULL,
  `keyFeatures` varchar(255) DEFAULT NULL,
  `lastUpdated` datetime(6) DEFAULT NULL,
  `model` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `price` decimal(19,2) DEFAULT NULL,
  `releaseDate` datetime(6) DEFAULT NULL,
  `sizingNotes` varchar(255) DEFAULT NULL,
  `sku` varchar(255) DEFAULT NULL,
  `stabilityType` varchar(255) DEFAULT NULL,
  `stockQuantity` int NOT NULL,
  `terrainType` varchar(255) DEFAULT NULL,
  `weight` varchar(255) DEFAULT NULL,
  `carbonPlated` bit(1) NOT NULL,
  `mensSizes` varchar(500) DEFAULT NULL,
  `womensSizes` varchar(500) DEFAULT NULL,
  `sizeStockJson` varchar(2000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `running_shoe_data`
--

LOCK TABLES `running_shoe_data` WRITE;
/*!40000 ALTER TABLE `running_shoe_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `running_shoe_data` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-29 10:53:15
